@font-face {
  src: url(fonts/Trajan\ Pro\ 3\ Regular.otf);
  font-family: trajan;
}

#root {
  text-align: center;
  font-family: trajan;
}

.app-navbar {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.carousel-container {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.treecontainer {
  width: 100%;
  aspect-ratio: 1920 / 1080;
  max-height: 80vh;
  background-color: #ede9e9;
  background-image: url('./assets/family-tree-2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: auto;
}

.personpatriarch {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 63%;
  left: 51%;
}

.personmatriarch {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 63%;
  left: 45%;
}

.person1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 45%;
  left: 49%;
}

.person2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 45%;
  left: 57%;
  /* top:160px; 
  left: 220px; */
}

.person3 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 45%;
  left: 38%;
  /* top:160px; 
  left: 462px; */
}

.person4 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 30%;
  left: 50%;
}

.person5 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 30%;
  left: 60%;
}

.person6 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 33%;
  left: 36%;
}

.person7 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: 65%;
}

.person8 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  left: 33%;
}

.person9 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 40%;
  left: 70%;
}

.person10 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 38%;
  left: 30%;
}

.person11 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 28%;
  left: 67%;
}

.person12 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 35%;
  left: 28%;
}

.person13 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 18%;
  left: 65%;
}

.person14 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 14%;
  left: 60%;
}

.person15 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 14%;
  left: 53%;
}

.person16 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 14%;
  left: 45%;
}

.person17 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 20%;
  left: 31%;
}

.person18 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 52%;
  left: 27%;
}

.person19 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 14%;
  left: 40%;
}

.person20 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 14%;
  left: 60%;
}

.parent1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 80%;
  left: 53%;
}

.parent2 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 83%;
  left: 57%;
}

.parent21 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 80%;
  left: 45%;
}

.parent22 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 83%;
  left: 41%;
}

.groupTree {
  /* width: 80vw; */
}

.rootTree {
  min-width: 300px;
  max-width: 700px;
  min-height: 200px;
  max-height: 100%;
  /* background-color: #f7f7f7; */
  background-image: url('./assets/tree.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: auto;
}

.rootpersonpatriarch {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 60%;
  left: 52%;
}

.rootpersonmatriarch {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 60%;
  left: 43%;
}

.rootperson11 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 40%;
  left: 45%;
}

.rootperson12 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 35%;
  left: 65%;
}

.rootperson13 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 35%;
  left: 25%;
}

.rootperson14 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 20%;
  left: 62%;
}

.rootperson15 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 20%;
  left: 43%;
}

.rootperson16 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 25%;
  left: 23%;
}

.rootperson17 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 23%;
  left: 75%;
}

.rootperson18 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 10%;
  left: 48%;
}

.rootperson19 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 68%;
}

.rootperson110 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 35%;
  left: 73%;
}

.rootperson111 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 28%;
}

.rootperson112 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 30%;
  left: 35%;
}

.rootperson113 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 35%;
  left: 48%;
}

.rootperson114 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 40%;
  left: 55%;
}

.rootperson115 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 15%;
  left: 35%;
}

.rootperson116 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 15%;
  left: 68%;
}

.rootperson117 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 25%;
  left: 68%;
}

.rootperson118 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 15%;
  left: 78%;
}

.rootperson119 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 45%;
  left: 80%;
}

.rootperson120 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50%;
  left: 80%;
}

.parent3 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 73%;
  left: 60%;
}

.parent4 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 75%;
  left: 68%;
}

.parent23 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 73%;
  left: 35%;
}

.parent24 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 75%;
  left: 28%;
}

.carousel-inner {
  overflow: visible !important;
}
