#root {
  text-align: center;

}

.carousel {
  max-width: 700px;
  margin: auto;  
}

.treecontainer {
  min-width: 700px;
  max-width: 700px;
  min-height: 400px;
  max-height: 400px;
  background-color: #ede9e9;
  /* background-color: #f7f7f7; */
  background-image: url("./assets/tree.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: auto;  
}

.personpatriarch {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:260px; 
  left: 360px;
}

.personmatriarch {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:260px; 
  left: 310px;
}

.person1 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:160px; 
  left: 385px;
}

.person2 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:180px; 
  left: 340px;
  /* top:160px; 
  left: 220px; */
}

.person3 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:160px; 
  left: 290px;
  /* top:160px; 
  left: 462px; */
}

.person4 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:110px; 
  left: 250px;
}

.person5 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:110px; 
  left: 440px;
}

.person6 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:96px; 
  left: 335px;
}

.person7 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:70px; 
  left: 270px;
}

.person8 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:70px; 
  left: 400px;
}

.person9 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:70px; 
  left: 200px;
}

.person10 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:70px; 
  left: 500px;
}

.person11 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:110px; 
  left: 160px;
}

.person12 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:110px; 
  left: 520px;
}

.person13 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:160px; 
  left: 140px;
}

.person14 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:160px; 
  left: 550px;
}

.person15 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:210px; 
  left: 480px;
}

.person16 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:190px; 
  left: 250px;
}

.person17 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:40px; 
  left:360px;
}

.person18 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:40px; 
  left: 300px;
}

.person19 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:80px; 
  left: 550px;
}

.person20 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:90px; 
  left: 550px;
}

.parent1 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:320px; 
  left: 400px;
}

.parent2 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:330px; 
  left: 440px;
}

.parent21 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:320px; 
  left: 290px;
}

.parent22 {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  top:330px; 
  left: 250px;
}

.groupTree {
  /* width: 80vw; */
}

.rootTree {
  min-width: 300px;
  max-width: 700px;
  min-height: 200px;
  max-height: 100%;
  /* background-color: #f7f7f7; */
  background-image: url("./assets/tree.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: auto;
}

.rootpersonpatriarch {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:60%; 
  left: 52%;
}

.rootpersonmatriarch {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:60%; 
  left: 43%;
}

.rootperson11 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top: 40%; 
  left: 45%;
}

.rootperson12 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:35%; 
  left: 65%;
}

.rootperson13 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:35%; 
  left: 25%;
}

.rootperson14 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:20%; 
  left: 62%;
}

.rootperson15 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top: 20%; 
  left: 43%;
}

.rootperson16 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:25%; 
  left: 23%;
}

.rootperson17 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:23%; 
  left: 75%;
}

.rootperson18 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:10%; 
  left: 48%;
}


.rootperson19 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:50%; 
  left: 68%;
}


.rootperson110 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:35%; 
  left: 73%;
}


.rootperson111 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:50%; 
  left: 28%;
}


.rootperson112 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:30%; 
  left: 35%;
}


.rootperson113 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:35%; 
  left: 48%;
}


.rootperson114 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:40%; 
  left: 55%;
}


.rootperson115 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:15%; 
  left: 35%;
}


.rootperson116 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:15%; 
  left: 68%;
}

.rootperson117 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:25%; 
  left: 68%;
}

.rootperson118 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:15%; 
  left: 78%;
}

.rootperson119 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:45%; 
  left: 80%;
}

.rootperson120 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:50%; 
  left: 80%;
}

.parent3 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:73%; 
  left: 60%;
}

.parent4 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:75%; 
  left: 68%;
}

.parent23 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:73%; 
  left: 35%;
}

.parent24 {
  position: absolute; 
  width: 20px; 
  height: 20px; 
  border-radius: 50%; 
  top:75%; 
  left: 28%;
}

.react-grid-layout {
  overflow: auto;
  min-height: 100vh;
  max-height: fit-content;
}

.carousel-inner {
  overflow: visible !important;
}